<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.tappayments.automation.config.ExtentReportSetup"></listener>
    </listeners>
    <test name="QA Authentication Cases" verbose="2" preserve-order="true">
        <classes>
            <class name="com.tappayments.automation.qaauthentication.cases.CreateTransactionAuthenticationCases"/>
        </classes>
    </test>
</suite>

